html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.zhouyk-blog-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 60px 1fr 1fr;
  /* grid-template-areas: 'header header header' 'left right right' 'left right right'; */
  grid-template-areas: 'left right right' 'left right right' 'left right right';
}

@media screen and (max-width: 800px) {
  .zhouyk-blog-container{
    grid-template-areas: 'right right right' 'right right right' 'right right right';
  }
  .blog-con-left{
    display: none;
  }
}

.blog-con-header{
  background-color: rgb(0, 255, 34);
  grid-area: header;
  width: 100%;
  height: 100%;
}
.blog-con-left{
  grid-area: left;
  height: 100%;
  width: 100%;
  overflow: scroll scroll;
}
.blog-con-right{
  height: 100%;
  width: 100%;
  grid-area: right;
  overflow: hidden scroll;
}



ul>li{
    list-style: none;
}
  /* 可展开*/
/* .switch-open
{
    margin-left:-12px;
    border:6px solid transparent;
    display:inline-block;
    width:0px;
    height:0px;
    border-top-color: black;

} */
  /* 展开完毕*/
/* .switch-close
{
    margin-left:-12px;
    border:6px solid transparent;
    display:inline-block;
    width:0px;
    height:0px;
    border-left-color: black;
    margin-bottom: 2px;
} */



.blog-con-right::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
  background: #fff;
}
.blog-con-right::-webkit-scrollbar-thumb {
  border-radius: 0.05rem;
  background: #ccc;
}

.blog-con-right::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.blog-con-left::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
  background: #fff;
}
.blog-con-left::-webkit-scrollbar-thumb {
  border-radius: 0.05rem;
  background: #ccc;
}

.blog-con-left::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}